header {
	background-color: white;
}

body {
	
}


.video-list {
	display: inline-block;
}


.videonstuff {
	display: inline-block;
}

ul {
	list-style: none;
}

.btn-container,
.logo,
.search,
.user_info {
	display: inline-block;
}


.search {
	margin-left: 30px;
	margin-bottom: 10px;
	vertical-align: middle;
	position: relative;
}

.search input {
	width: 600px;
    line-height: 25px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px #a9b1ac;
    margin-top: -20px;
}

.user-info {
	float: right;
}

header .btn-container {
	height: 24px;
	width: 24px;
	margin-left: 25px;
	margin-top: -25px;
	position: relative;
	vertical-align: middle;

}

.logo {
	margin-top: 10px;
}

.fa {
	color: grey;
}

.search-btn {
	display: inline-block;
	position: relative;
	bottom: 12px;
	border: 1px solid #bdbdbd;
	border-radius: 0 2px 2px 0;
	width: 65px;
	text-align: center;
	height: 28px;
	box-shadow: 0 1px 1px #a9b1ac;
	margin-left: -4px;
}

.user-info {
	margin-top: 10px;
}

.fa-search {
	vertical-align: middle;

	padding-top: 5px;
}

.search-btn:hover {
    background-color: #e3e3e3;
}

.centered-container {
	vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
}

h3 {
	text-align: left;
	background-color: white;
	font-weight: normal;
}


.profile-pic {
	
}

.profile-rest {

	display: inline-block;
	text-align: left;
}


.profile-pic,
.comment-text,
.fa-thumbs-up,
.fa-thumbs-down,
.respond,
.date {
	display: inline-block;
}

.conmments-area {
	display: inline-block;
}

.respond:hover {
	cursor: pointer;
	font-weight: bolder;
}

.respond {
	font-weight: 100;
}

.comments-area {
	width: 855px;
}


.clearfix::after, 
.clearfix::before {
    content: "";
    display: table;

}

.clearfix::after {
	clear: both;
}

.video-list2 {
	margin-bottom: 300px;
}